[Unit]
Requires=network-online.target
After=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/offlineimap -u quiet -s -c /etc/offlineimap/%i.conf
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=multi-user.target
