[Unit]
Description=Remote Backup
Requires=network-online.target
After=network-online.target

[Service]
User=arc
Type=oneshot
ExecStart=/mnt/data/backup/rolling/working/git/update
ExecStart=/mnt/data/backup/rolling/working/gmail/update
ExecStart=/mnt/data/backup/rolling/working/mail/notmuch-dump/update_dump

[Install]
WantedBy=multi-user.target
