[Unit]
Description=snar-snapper
After=network.target

[Service]
Type=oneshot
Environment=PATH=/bin:/root/.bin
Environment=AWS_DEFAULT_PROFILE=arc_s3backup
ExecStart=/root/.bin/snar-snapper
