[Unit]
Description=Hard drive power saving

[Service]
Type=oneshot
ExecStart=/usr/bin/hdparm -B 251 /dev/disk/by-id/wwn-%i

[Install]
WantedBy=multi-user.target
